
body{
    background-color: hsl(225, 100%, 94%);
    background-image: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    text-align: center;
    
}

.main-card{
    width: 80%;
    max-width: 400px;
    height: 620px;
    margin-inline: auto;
    margin-top: 100px;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;

}
.image-background{
    width: 100%;
}

.main-title{
    font-size: 30px;
    font-weight: 900;
    margin-top: 20px;
}

.description-text{
    color: hsl(224, 23%, 55%);
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0 20px 0 20px;
}

.payment-part{
    display: flex;
    align-items: center;
    width: 300px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: hsl(225, 100%, 98%);
}
.plan{
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 5px;
}
.cost{
    font-size: 15px;
    font-weight: 500;
    color: hsl(224, 23%, 55%);
}
.music-icon{
    margin: 10px;
}
.first-button{
    font-size: 15px;
    font-weight: 700;
    margin-left: 60px;
    background: none;
    border: none;
    color: hsl(245, 75%, 52%);
}
.first-button:hover{
    filter: brightness(1.9);
    text-decoration: none;
}

.buttons{
    height: 50px;
    display: block;
    margin-top: 20px;
    padding: 0 30px 0 30px;
}

.buttons button{
    font-size: 16px;
    font-weight: 700;
    width: 90%;
    padding: 10px 20px 10px 20px;
    margin: auto;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: hsl(245, 75%, 52%);
    cursor: pointer;
    transition: filter 0.5s;
    box-shadow: 0 0 2em hsl(224, 23%, 55%);
}
.buttons button:hover{
    filter: brightness(1.8);
}

.buttons a{  
    font-size: 15px;
    text-decoration: none;
    font-weight: 700;
    margin-top: 20px;
    color: hsl(224, 23%, 55%);
}
.buttons a:hover{
    color: black;
}









.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
        color: hsl(228, 45%, 44%); 
        
}